.selector-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    max-height: 250px;
    min-height: 200px;
}

.selector {
    height: 10vh;
    max-height: 50px;
    width: 100vw;
    max-width: 300px;
    border: 3px solid RGB(65,75,86);
    border-radius: 15px;
}

.selector option {
    text-transform: uppercase;
    font-weight: 600;
}

#submit {
    width: 30vw;
    height: 30vw;
    max-width: 100px;
    max-height: 100px;
    min-width: 50px;
    min-height: 50px;
    border: none;
    border-radius: 50%;
    background-color: RGB(220,36,31);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    color: white;
}