.line-div {
    width: 100%;
    height: fit-content;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.line-p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 1px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}