.line-div {
    width: 100%;
    height: fit-content;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.line-p {
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 1px 15px;
    margin: 5px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    border: 1px solid RGB(65,75,86)
}

.hideDetail {
    display: none;
}

.showDetail {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

