.path {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stop-point {
    width: 200px;
    filter: grayscale(1);
    margin: 0;
    padding: 5px 0px;
    border-left: 3px solid black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

.stop-point::before {
    content: "-";
}