.disruption {
    width: 90%;
}

.alert {
    border: none;    
    border: 3px solid RGB(220,36,31);
    border-radius: 20px;
    margin-right: 10%;
    padding: 10px;
    background-color: white;
    color: RGB(220,36,31);
    font-size: 12px;
}