.line-div {
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: fit-content;
    height: 20px;
    padding: 1px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}